<div class="form-group post-heading">
    <input required type="text" name="heading" value="<%= journal.heading %>" placeholder="Give me a heading!">
    <!-- <label for="heading">Your headline</label> !!!!! not sure jet! -->
</div>

<div class="form-group post-date">
    <!-- Date needs a correct backend destination -->
    <input required type="date" name="date" value="2020-01-01">
</div>

<div class="form-group post-content">
    <!-- <input required type="text" name="content" value=""> -->
    <textarea required name="content" form="journalForm"
        placeholder="Fill me up! For example: 3 things you are thankful for today and 2 things you wanna make better tomorrow!"><%= journal.content %></textarea>
    <!-- <label for="content">Your text</label> !!!!! not sure jet! -->
</div>

</div>

<div class="container bottom-btn">
    <a href="/journals" type="submit" class="btn blue-btn btn-lg btn-block">Save</a>
    <a href="/" class="btn transparent-btn btn-lg btn-block">Cancel</a>
</div>