<%- include('partials/header-partial-onecolor.ejs') %>
<link rel="stylesheet" href="/css/footer-replace.css">


<div class="partial-bg">
    <h1>About</h1>
</div>

<div class="about-wrap">

    <div class="profile-wrap">

        <div class="pic-container luis"></div>

        <div class="about-txt-container">
            <h2>Luis <br> Romero</h2>
            <p> Lemoore, CA
                <br>
                Backend Developer
                <br>
                <br>
                Self-taught fullstack web developer who is pursion a career in web development.
                <br>
                <br>
                <br>

                <a href="https://www.linkedin.com/in/luis-romero-1971a0200/">Luis on LinkedIn</a>
            </p>
        </div>

    </div>

    <div class="profile-wrap">

        <div class="pic-container maya"></div>

        <div class="about-txt-container">
            <h2>Maya Buser De, Ph.D.</h2>
            <p> Atlanta, GA
                <br>
                Web Developer
                <br>
                <br>
                Sociologist transitioning into web development to tackle social issues with technology.
                <br>
                <br>
                <br>
                <a href="https://www.linkedin.com/in/mayabuserde/">Maya on LinkedIn</a>
            </p>
        </div>

    </div>

    <div class="profile-wrap">

        <div class="pic-container patrick"></div>

        <div class="about-txt-container">
            <h2>Patrick Pavliuchik</h2>
            <p> Berlin, Germany
                <br>
                Frontend Developer
                <br>
                <br>
                Self-taught frontend developer on the way to fullstack and a carrer in web development.
                <br>
                <br>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/patrick-pavliuchik-b481b9200/">Patrick on
                    LinkedIn</a>
            </p>
        </div>

    </div>

    <div class="profile-wrap">

        <div class="pic-container ksenia"></div>

        <div class="about-txt-container">
            <h2>Ksenia Pavliuchik</h2>
            <p> Berlin, Germany
                <br>
                Designer
                <br>
                <br>
                Content creator who found the beauty in design and web development.
                <br>
                <br>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/xeniap/">Ksenia on LinkedIn</a>
            </p>
        </div>

    </div>

    <div>

        <footer id="footer-replace">
            <p id="cpyrght-replace">&copy; Copyright 2020 TechTeam</p>
        </footer>

    </div>

</div>



<%- include('partials/footer.ejs') %>