/* ------------------Basics Start---------------------- */

/* * {
  border: 1px solid black;
} */


body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: center/cover no-repeat url(/images/clouds.jpg);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

h1,
.btn {
  text-transform: uppercase;
}

h1 {
  font-weight: 900;
}

#content-wrap {
  padding-bottom: 18%;
}

/* ------------------- Basics End ------------------------- */




/* ------------------ Home.ejs Start ---------------------- */

.content {
  position: relative;
  height: 100%;
}

.drop-wrap {
  margin: 2% auto;
}

.drop {
  width: 25%;
  fill: #ffffff;
  margin-bottom: 5%;
}

h1 {
  line-height: 45.5px;
  margin-bottom: 20%;
}


.mood-box {
  border: 1px solid white;
  width: 45%;
  height: 100%;
  color: #ffffff;
  font-weight: 800;
  border-radius: 7px;
  font-size: 26px;
  margin: auto 0.5%;
  transition: 0.5s;
}


#moods-wrap {

  position: relative;
  height: 20em;
  width: 100%;
  margin: 0 auto;
  padding: 0;

}

#moods-wrap .container {
  height: 40%;
  width: 100%;
  margin: 1.5% auto;

}

.bottom-btn {
  margin-bottom: 2%;
}

.journal-btn {
  border: 1px solid #5EA7C8;
  background: #5EA7C8;
  font-weight: 700;
  border-radius: 15px;
  color: #ffffff;
  transition: 0.5s;
}

.talk-btn {
  border: 1px solid #5EA7C8;
  font-weight: 700;
  border-radius: 15px;
  color: #ffffff;
  transition: 0.5s;
}

.journal-btn:hover,
.talk-btn:hover,
.mood-box:hover {
  background: white;
  color: #5EA7C8;
}


/* <<<<<< Media Start >>>>>>>> */

@media screen and (min-width:500px) {
  .drop {
    margin: 10% auto 1% auto;
  }

  h1 {
    margin-bottom: 10%;
  }
}

@media screen and (min-width:768px) {

  .bottom-btn {
    margin-bottom: 4%;
  }

  .drop {
    margin-top: 5%;
  }

  h1 {
    margin-bottom: 5%;
  }
}

@media screen and (min-width:991px) {

  .drop {
    width: 20%;
  }

  .mood-box {
    width: 30%;
  }

  .drop-wrap {
    margin-top: 0;
  }


  .btn-block {
    width: 85%;
    margin: 3px auto;
  }

  #moods-wrap .container:nth-of-type(1) {
    margin-top: 0;
  }

  .drop-wrap.container {
    margin-bottom: 0;
  }
}

@media screen and (min-width:1200px) {

  .drop {
    width: 15%;
  }
}

/* <<<<<< Media End >>>>>>>> */

/* ------------------ Home.ejs End ---------------------- */




/* ------------------ healing_options.ejs Start ---------------------- */

.long-h1 {
  font-size: 26px;
  line-height: 96.4%;
}

.options {
  font-size: 25px;
}

.options-content {
  margin-top: 55%;
  margin-bottom: 2%;
}

/* <<<<<< Media Start >>>>>>>> */

/* Need to be worked on */

/* <<<<<< Media End >>>>>>>> */


/* ------------------ healing_options.ejs End ---------------------- */

/* ------------------ about.ejs Start ---------------------- */

.about-wrap {
  position: absolute;
  width: 90%;
  height: 77%;
  overflow: scroll;
  top: 23%;
  left: 5%;
}

.profile-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 15%;
  display: flex;
}

.profile-wrap:last-child {
  margin-bottom: 0;
}

.member-pic {
  width: 100%;
}

.pic-container {
  background: center/cover url(/images/Placeholder-picture.jpg);
  display: inline-block;
  width: 41.87%;
  height: 11.56em;
  border: 1px solid white;
  border-radius: 7px;
}

.pic-container.ksenia {
  background: center/cover no-repeat url(/images/Ksenia.jpeg);
}

.about-txt-container {
  display: inline-block;
  width: 57%;
}

.about-txt-container h2 {
  font-size: 26px;
  padding-left: 0.6em;
}

.about-txt-container p {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  padding-left: 1.2em;
}

.about-txt-container a {
  color: white;
  text-decoration: underline;
}

/* ------------------ about.ejs End ---------------------- */

/* ------------------ journal/index.ejs Start ---------------------- */

/* .one-btn {
  height: 6.5em;
} */

.journal-entry {
  list-style: none;
  padding-left: 0;
}

.journal-wrap {
  margin-bottom: 20%;
}

.journal-entry a {
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
}

.journal-entry p {
  font-weight: 400;
  font-size: 14px;
}

.journal-entry li {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0 5% 0 5%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
}

/* ------------------ journal/index.ejs End ---------------------- */


/* ------------------ journal/new.ejs/_form_fields.ejs Start ---------------------- */

.form-wrap {
  margin: 0 1.9375em 1.875em;
}

/* Labels are not active at the moment! Outcommented in .ejs file*/
#journalForm label {
  display: block;
  font-size: 10px;
  margin-bottom: 0;

}

#journalForm label:nth-of-type(1) {
  padding-top: 2px;
}
/* Label end */

.post-content,
.post-date,
.post-heading {
  margin-bottom: 0;
}

.post-date {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.6em;
  margin-top: 1.2em;
}

.post-heading input,
.post-content textarea {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.49);
  border-radius: 0.4375em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13) inset;
  background: rgba(255, 255, 255, 0.42);
}

.post-heading input {
  height: 2.125em;
}

.post-heading input::placeholder {
  padding-left: 0.5em;
}

.post-content textarea {
  height: 20.125em;
}

.post-content textarea::placeholder {
  padding-top: 2em;
  padding-left: 0.5em;
}


.post-date input {
  width: 9em;
  font-size: 16px;
  text-align: right;
  color: #ffffff;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.49);
}

/* !!!!!!!!!!!!!!!!!!!!! Date selector needs to be styled !!!!!!!!!!!!!!!!!!!!!!! */





/* ------------------ journal/new.ejs/_form_fields.ejs End ---------------------- */

/* ------------------ help.ejs Start ---------------------- */

.help-wrap {
  position: absolute;
  height: 38em;
  top: 12.69em;
  left: 1.81em;
  overflow: scroll;
}

.help-box {
  width: 19.81em;
  height: 12.44em;
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.49);
  margin-bottom: 0.94em;
  border-radius: 7px;
  padding: 1em 1em;
}

.help-box h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 12.53px;
  margin-bottom: 1em;
}

.help-box p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.19px;
}

.help-nmbr {
  display: block;
  margin-top: 1.7em;
  font-weight: 600;
  font-size: 13px;
  color: rgba(94, 167, 200, 1);
}

.nmbr {
  text-decoration: underline;
  text-transform: uppercase;
}

/* ------------------ help.ejs End ---------------------- */