<%- include('../partials/header-partial-bg.ejs') %>
<h1>Login</h1>
<% if (messages.error) { %>
<%= messages.error %>
<% } %>
<form action="/users/login" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="username" name="username" id="username" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
    </div>
    <button type="submit">Login</button>
</form>
<a href="/users/register">Register</a>

<%- include('../partials/footer.ejs') %>