<%- include('../partials/header-partial-bg.ejs') %>
<!-- css file for this page in case we need page specific styling -->
<link rel="stylesheet" href="/css/password-requirements.css">
<h1>Register</h1>
<% if (messages.error) { %>
<%= messages.error %>
<% } %>
<form action="/users/register" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="username" name="username" id="username" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
    </div>
    <button type="submit">Register</button>
</form>
<a href="/users/login">Login</a>
<%- include('../partials/footer.ejs') %>