<%- include('../partials/header-partial-bg.ejs') %>

<div class="partial-bg">
<h1><%= mood %> mood page</h1>
</div>
<%- include('../partials/healing_options') %>

<%- include('../partials/footer.ejs') %>