<%- include('../partials/header-partial-bg.ejs') %>

<div class="partial-bg">
    <h1>Here is the boost</h1>
</div>



<div class="joke-wrap">
    <!-- selector for playlist based on mood -->
    <% if (mood === "sad") { %>
    <iframe width="300" height="300"
        src="https://www.youtube.com/embed/videoseries?list=PLAQ7nLSEnhWTEihjeM1I-ToPDJEKfZHZu" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <% } else if (mood === "anxious"){ %>
    <iframe width="300" height="300"
        src="https://www.youtube.com/embed/videoseries?list=PLo3pNg0eiPc9hsnjWTTM4PVTKrmGaXOQ1" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <% } else if (mood === "angry"){ %>
    <iframe width="300" height="300"
        src="https://www.youtube.com/embed/videoseries?list=PL7v1FHGMOadBhCjuh_ljEEhqrQKCBsoIn" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <% } else if (mood === "lonely"){ %>
    <iframe width="300" height="300"
        src="https://www.youtube.com/embed/videoseries?list=PLgP_WFDJWjxRBAnIeUupZ-XHAspFBJZ0i" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <% } else  { %>
    <p>Sorry no music available</p>
    <% } %>


</div>
<div class="container bottom-btn">
    <a href="" type="button" class="btn blue-btn btn-lg btn-block">One more boost</a>
    <a href="/" type=button" class="btn transparent-btn btn-lg btn-block">Go back</a>
</div>


<%- include('../partials/footer.ejs') %>