<%- include('../partials/header-partial-bg.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="partial-bg">
    <h1>Here is the boost</h1>
</div>



<!-- <h1><%= healing_method %> page</h1> -->
<div class="joke-wrap">
    <blockquote class="blockquote">
        <p id="quote"></p>
        <footer id="author" class="blockquote-footer"></footer>
    </blockquote>
</div>
<!-- attirbution to API needed -->
<span style="z-index:50;font-size:0.9em; font-weight: bold;">
    <img src="https://theysaidso.com/branding/theysaidso.png" height="20" width="20" alt="theysaidso.com" />
    <a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com"
        style="color: #000; margin-left: 4px; vertical-align: middle;">
        They Said So®
    </a>
</span>
<div class="container bottom-btn">
    <a href="" type="button" class="btn blue-btn btn-lg btn-block">One more boost</a>
    <a href="/" type=button" class="btn transparent-btn btn-lg btn-block">Go back</a>
</div>



<script src="/scripts/quoteapp.js"></script>

<%- include('../partials/footer.ejs') %>