<%- include('../partials/header-partial-bg.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="partial-bg">
    <h1>Get a cuteness boost</h1>
</div>

<div id="picture" class="container"></div>
<div class="container">
    <div class="col-5 mx-auto">
        <input type="radio" id="kitten" name="selection" value="kitten" checked>
        <label for="kitten" class="pr-2">Kitten</label>

        <input type="radio" id="puppies" name="selection" value="puppies">
        <label for="puppies" class="pr-2">Puppies</label>

        <input type="radio" id="nature" name="selection" value="nature">
        <label for="nature" class="pr-2">Nature</label>

        <button type="button" id="btn" class="btn talk-btn">Select</button>
        <button type="button" class="btn journal-btn btn-block">Get another Boost</button>

    </div>

</div>
</div>
</div>

<script src="/scripts/videoapp.js"></script>


<%- include('../partials/footer.ejs') %>